/* reddit-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/reddit-sans-v6-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* reddit-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/reddit-sans-v6-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* reddit-sans-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Reddit Sans";
  font-style: italic;
  font-weight: 500;
  src: url("../assets/fonts/reddit-sans-v6-latin-500italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* reddit-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/reddit-sans-v6-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* reddit-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Reddit Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/reddit-sans-v6-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@mixin textpreset1 {
  font-size: clamp(2.875rem, 2.5172rem + 1.5267vw, 3.25rem);
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.2;

  @media (min-width: 48rem) {
    line-height: 1.4;
  }
}

@mixin textpreset2 {
  font-size: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 1.2;
}

@mixin textpreset3 {
  font-size: clamp(1.75rem, 1.5115rem + 1.0178vw, 2rem);
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 1.4;
}

// TODO: update text preset 4 to be dynamic font weight \\
@mixin textpreset4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

@mixin textpreset4regular {
  font-weight: 400;
}
// \\

@mixin textpreset5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

@mixin textpreset6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

@mixin textpreset6italic {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.3;
}

@mixin textpreset6Regular {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 1.4;
}

@mixin textpreset7 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 1.4;
}

@mixin textpreset8 {
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
}

@mixin textpreset9 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
}
