<header>
  <div class="container">
    <div class="navbar">
      <a
        href="{{ '/' | url }}"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        {% include "svgs/logo.svg" %}
      </a>
      <nav
        class="main-nav visible"
        aria-label="main"
      >
        <div class="profile-info">
          <h2 class="profile-info__name">Lisa Maria</h2>
          <p class="profile-info__email">lisa@mail.com</p>
        </div>
        <div class="divider"></div>
        <ul class="nav__list">
          {% for item in site.navigation %}
            <li class="nav__item">
              {% include "svgs/" + item.icon %}
              <a href="{{ item.url | url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <div class="profile">
        <div class="profile-image">
          <img
            src="{{ '/assets/images/avatar-lisa.jpg' | url }}"
            alt="profile avatar"
          />
        </div>
        <button class="dropdown-toggle">
          {% include "svgs/icon-dropdown-arrow.svg" %}
        </button>
      </div>
    </div>
  </div>
</header>
